<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ToDoList</title>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model="inputval" value="" />
			<button type="button" v-on:click="pushBtnclick">提交</button>
			<ul>
				<li v-for="item in list">{{item}}</li>
			</ul>
		</div>
	</body>
	<script type="text/javascript">
		var app = new Vue({
			el:"#app",
			data:{
				list : [],
				inputval:""
			},
			methods:{
				pushBtnclick:function(){
					this.list.push(this.inputval);
					this.inputval = ""
				}
			}
		})
		
		
		/**/
		/*
		*  name   And   email   And   Time
		*
		*/
		
		
		// var .....
		
		/**/
	</script>
</html>
