<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>vue中多个元素或组件的过度动画</title>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<style type="text/css">
		.v-enter {
			opacity: 0;
		}

		.v-enter-active {
			transition: opacity 3s;
		}

		.v-leave-to {
			opacity: 0;
		}

		.v-leave-active {
			transition: opacity 3s;
		}
	</style>
	<body>
	
		<div id="app">
			<transition mode="out-in">
				<div v-if="show" key="hello">
					hello world
				</div>
				<div v-if="!show" key="bye">
					bye world
				</div>
			</transition>

			<transition mode="out-in">
				<child v-if="show"></child>
				<child-one v-else></child-one>
			</transition>
			
			<transition mode="out-in">
				<component :is="type"></component>
			</transition>

			<button type="button" @click="handclick">切换</button>

		</div>

	</body>
	<script type="text/javascript">
		Vue.component("child",{
			template:"<div>child</div>"
		})
		Vue.component("child-one",{
			template:"<div>child-one</div>"
		})
		var vm = new Vue({
			el: "#app",
			data: {
				show: true,
				type:"child"
			},
			methods: {
				handclick: function() {
					this.show = !this.show;
					this.type = this.type =="child" ? "child-one" : "child"
				}
			},
			beforeMount() {
				console.log(154)
			},
			beforeCreate() {
				console.log(122)
			}
		})
	</script>
</html>
