html,body{
	background-color: #f2f2f2;
}
/*菜单*/



.nav{
	position: fixed;
	top: 1.54rem;
	left: 0;
	width: 100%;
	height: 0.79rem;
	border-bottom: 0.017241379310344827rem solid #ddd;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	z-index: 999;
	background-color: white;
}
.nav p{
	margin: 0 0.1724137931034483rem;
	height: .79rem;
	line-height: .79rem;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: block;
	font-size: 0.20689655172413793rem;
}
.nav .active{
	border-bottom: 0.034482758620689655rem solid #3bc983;
	color: #3bc983;
	font-weight: bold;
}
/*列表*/
.swiper-container{
	position: fixed;
	top: 2.35rem;
	left: 0;
	right: 0;
	bottom: .8rem;
}
/*展示上拉加载的数据列表*/
.activity{
	width: 100%;
	height: auto;
}
.activity .item-list{
	position: relative;
	margin-bottom: 0.08620689655172414rem;
	background: white;
}
.activity-img{
	overflow: hidden;
	position: relative;
	padding-top: 56%;
	width: 100%;
	zoom: 1.1;
	vertical-align: top;
	background: no-repeat;
	background-size: 100% 100% !important;
	height: 0;
}
.activity-label{
	position: absolute;
	top:0.1724137931034483rem;
	right: 0.25862068965517243rem;
}
.activity-label p{
	background-color: rgba(0,0,0,.4);
	color: white;
	font-size: 0.13793103448275862rem;
	border-left: 0.034482758620689655rem solid #ffa903;
	padding: 0 0.1724137931034483rem;
	margin-bottom: 0.1724137931034483rem;
	line-height: 0.3448275862068966rem;
}
.activity-introduce{
	display: flex;
	width: 100%;
	padding: 0.1724137931034483rem 0.25862068965517243rem;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}
.activity-describe{
	-webkit-box-flex: 3;
	-ms-flex: 3;
	flex: 3;
	text-align: left;
}
.activity-price{
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: right;
}
.activity-describe h4{
	margin-bottom: 0.13793103448275862rem;
	font-size: 0.2413793103448276rem;
	color: #333;
	line-height: 0.41379310344827586rem;
	padding-right: 0.3448275862068966rem;
	margin-top: 0.08620689655172414rem;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	cursor: auto;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.activity-describe span{
	display: inline-block;
	color: #3bc983;
	border: 1px solid #3bc983;
	padding: 0rem 0.06896551724137931rem;
	margin-right: 0.034482758620689655rem;
	border-radius: 0.25862068965517243rem;
	font-size: 0.13793103448275862rem;
	margin-bottom: 0.06896551724137931rem;
}
.activity-describe span.handpick{
	color: #ffa903;
	border: 1px solid #ffa903;
}
.activity-price span{
	color: #999999;
	font-size: 0.20689655172413793rem;
}
.activity-price span b{
	font-size: 0.3103448275862069rem;
	font-weight: bold;
	color: #3bc983;
	padding-right: 0.08620689655172414rem;
	vertical-align: middle;
}
/*隐藏*/
.hide{
	display: none;
}
.mescroll-empty .empty-btn{
	border: 1px solid #3bc983;
	border-radius: 30px;
	padding: 4px;
	color: #3bc983;
}
.mescroll-upwarp .upwarp-nodata{
	font-size: 12px;
	color: #c8d6cd;
}
.search{
	position: fixed; top: 0.79rem; left: 0; right: 0; /* 决定了搜索框置顶 */
	height: 44px; padding: 0 10px;
	background-color: #fff; opacity: 0.8; /* 搜索框半透明效果 */
	z-index: 10;
}
.searchdiv {
	position: fixed;
	/* top: 44px; */
	top: 0.79rem;
	width: 100%;
	padding: 0 10px;
	height: 0.75rem;
}
.button {
	float: right;
	width: 10%;
	line-height: 0.75rem;
	/* margin-top: -26px; */
}

.search-row {
	position: relative;
	/* height: 30px; */
	/* padding: 7px 0; */
	/* margin-top: -2px; */
	width: 86%;
	/* padding-left:8px; */
	display: inline-block;
	float: left;
	line-height: 0.75rem;
	height: 0.75rem;
	float: left;
	padding: 0 6px;
	text-align: left;
}
.search-row input[type=search] {
	position: absolute;
	/* top: 0; */
	height: 0.55rem;
	line-height: 21px;
	width: 100%;
	/* padding: 10px 15px 10px 30px; */
	border: 0;
	border-radius: 6px;
	outline: 0;
	background-color: rgba(0,0,0,0.1);
	font-size: 16px;
	text-align: left;
	z-index: 100;
	left:0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	padding: 0 0 0 0.44rem;
}
.search-row .placeholder {
	position: absolute; top: 2px; left: 0; right: 0;
	display: inline-block; height: 30px; line-height: 30px;
	border: 0; border-radius: 6px;
	font-size: 20px; text-align: center; color: #999;
	z-index: 1;
}
.search-row .placeholder .iconfont {
	display: inline-block; width: 19px; line-height: 24px;
	font-size:16:px; color: #666;
}
.search-row .placeholder .text {
	vertical-align: top;
}
.icon-iconsousuo:before {
	content: '';
}

.icon-iconsousuo::before {
	display: none   !important ;
}
.search-row {/* display: block !important; */}
